<div class="container-fluid bg-dark text-danger">
  <div class="row justify-content-center text-center">
    <div class="col-6">
      <h1>
        Hello, {{name}}
      </h1>
      gtfo
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/SNES_logo.svg/1200px-SNES_logo.svg.png"
        alt="SNES">
    </div>
  </div>
  <div class="row justify-content-center text-center mt-3">
    <div class="col text-center">
      <img
        src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/super_nintendo_5/H2x1_SNES_SuperMetroid.jpg"
        alt="SM">
    </div>
  </div>
</div>